# ATTENTION Add only project-specific ignores here.
# For your IDE-specific files use your user's ignore list.
# See also:
# - https://git-scm.com/docs/gitignore
# - https://www.pluralsight.com/guides/how-to-use-gitignore-file
#
# Use `git check-ignore <path>` for debug.
#

# Test folders and files
backup/
source/
target/
backup.log
